body{
  background:linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/back2.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow-x:hidden;

}

::selection {
  background: rgb(220,220,220);
}

 ::-moz-selection {
   background: rgb(220,220,220);
}


* {
  padding: 0;
  margin: 0;
  outline: none;

}
td,th,a {
  font-size: 18px;
  font-weight: bolder;
  color: #FFB300;
}


td{
	
	border-radius: 20px;
}
th{
	
	border-radius: 20px;
	background-color: transparent
}

.time{
	background-color: #734154
}

.day{
	background-color: #788582;
}

a:hover{
	color: black;
	font-weight: bolder
}

.heading{
  font-family: 'Amiri', serif;
  color: #ffb300;
  text-align: center;
  font-size: 50px
}







h1 {
	font-family: 'Amiri', serif;
  text-align: center;
	 color: #ffb300
}

table caption {
	padding: .5em 0;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
















@import url(https://fonts.googleapis.com/css?family=Lato:100,400);


q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


body.rain-a {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/night.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.lightning-a {
background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/maa5rb.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.cloudy-b {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/ma5rab.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.cloudy-c {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fagr.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun-b {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/sunrise.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun-c {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/faagr.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/back52.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.degree:after {
  content: '\00b0';
}

section#current-temp {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

}
.pray {
	padding-top: 13px;
	border-radius: 20%;
	border: 1px solid white
}
.time1{
	font-size: 18px;
	color: #ffb300
}

div#weather-widget {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}


/*
section#current-temp {
  padding: 25px 15px;
}
*/


section#forecast ul{
  margin-left: 80px
}
section#forecast ul li {

  cursor: pointer;
  width: 100px;
	margin-top: 50px;
  display: block;
  float: left;
  margin-right: 0px;
  padding: 25px 0;
  font-weight: bolder;
  font-size: 25px;
	color: white;
	
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
/*
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5);
*/
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
      border-radius: 60px;
}
section#forecast ul li span {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
section#forecast ul li span.icon {
  font-weight: bold;
  font-size: 20px;
}
section#forecast ul li.current, section#forecast ul li.current:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
section#forecast ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
section#forecast ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}


section#forecast2 ul{
  margin-left: 80px
}
section#forecast2 ul li {
border-radius: 60px;
  cursor: pointer;
  width: 100px;
	margin-top: 50px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-right: 5px;
  padding: 25px 0;
  font-weight: bolder;
  font-size: 25px;
	color: white;
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
/*
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5);
*/
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
section#forecast2 ul li span {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
section#forecast2 ul li span.icon {
  font-weight: bold;
  font-size: 20px;
}
section#forecast2 ul li.current, section#forecast2 ul li.current:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
section#forecast2 ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
section#forecast2 ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}





body.rain-a1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/night2.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.lightning-a1 {
background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/ma5rb1.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.cloudy-b1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/3asr.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
body.cloudy-c1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/zohre.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun-b1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/shroq.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun-c1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fagr1.jpg)no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.sun1 {
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/back52.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


@font-face {
  font-family: 'DIGITAL';
  src: url("https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF");
}


.digital-clock {
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font: 50px/60px 'DIGITAL', Helvetica;
}


@media (min-width: 440px) {
  section h1 {
    transition: all 0.3s;
    font-size: 7vw;
  
  font-family: 'Amiri', serif;
  }
 

}
@media (min-width: 768px) {
  section {
    max-width: 60vw;
  }
  section h1 {
    transition: all 0.3s;
    font-size: 5vw;
  }

 

}
.
@media screen and (min-width: 300px) {

}

@media screen and (min-width: 400px) {
 
   #logo{
    margin: 0 auto;
  }


}

